.grid__side {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
  flex-direction: column;
}
.nav__logoo {
  width: 75px;
  height: 20px;
  margin-left: 18px;
}
.nav__btn {
  margin-left: 20px;
}
.nav__logo, .nav__menu {
  width: 15vw;
  height: 75px;
  color: rgba(247,247,247,0.6);
  font-weight: 100;
  border-bottom: 2px solid rgba(122, 65, 65, 0.2);
  display: flex;
  align-items: center;
}
.nav__menu {
  height: 65px;
}
.nav__menu:hover {
  background-color: black;
  color: whitesmoke;
}
.nav__menu i {
  margin-left: 25px;
} 
.nav__logo i {
  margin-left: 25px;
}

.aside__categroies {
  display: flex;
  flex-direction: column;
  color: rgba(247,247,247,0.45);
  margin-bottom: 10px;
}
.categories__bar-left {
  display: flex;
  margin-left: 25px;
  margin-bottom: 25px;
}
.categories__bar-icons:hover {
  color: whitesmoke;
}
.categories__checkbox {
  margin-left: 25px;
}
.categories__check {
  padding: 10px;
}
.categories__check:first-child:hover{
  background-color: teal;
  color: black;
}
.categories__check:nth-child(2):hover{
  background-color: greenyellow;
  color: black;
}
.categories__check:nth-child(3):hover{
  background-color: coral;
  color: black;
}
.categories__check:nth-child(4):hover{
  background-color: red;
  color: black;
}
.categories__check:nth-child(5):hover{
  background-color: blanchedalmond;
  color: black;
}

.activity {
  display: flex;
  flex-direction: column;
  color: rgba(247,247,247,0.45);
  margin-bottom: 30px;
}
.activity__bar-icons:hover {
  color: whitesmoke;
}
.activity__bar-left {
  display: flex;
  margin-left: 25px;
  margin-bottom: 25px;
}





.aside__footer {
  display: flex;
  width: 15vw;
  background-color: #EBF03C;
}
.aside__avatar {
  width: 3.5vw;
}
.aside__profile-btn {
  width: 11.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside__footer:hover {
  background-color: rgba(0,0,0,0);
  color: whitesmoke;
}