.grid__side {
  display: flex;
  justify-content: space-between;
}
.nav {
  display: flex;
  flex-direction: column;
}
.nav__logoo {
  width: 75px;
  height: 25px;
  margin-left: 18px;
}
.nav__btn {
  margin-left: 20px;
}
.nav__logo, .nav__menu {
  width: 15vw;
  height: 75px;
  color: rgba(247,247,247,0.6);
  font-weight: 100;
  border-bottom: 1.5px solid rgba(122, 65, 65, 0.1);
  display: flex;
  align-items: center;
}
.nav__menu {
  height: 65px;
}
.nav__menu:hover {
  background-color: black;
  color: whitesmoke;
}
.nav__menu i {
  margin-left: 25px;
} 
.nav__logo i {
  margin-left: 25px;
}






.aside__footer {
  display: flex;
  width: 15vw;
  background-color: #EBF03C;
}
.aside__avatar {
  width: 3.5vw;
}
.aside__profile-btn {
  width: 11.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside__footer:hover {
  background-color: rgba(0,0,0,0);
  color: whitesmoke;
}