/*header*/
.article {
  width: 50vw;
  height: 172vh;
  display: flex;
  flex-direction: column;
}
.article__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
  height: 15vh;
  color: rgba(247,247,247,0.65);
}
.article__title-all {
  display: flex;
  align-items: center;
}
.article__title {
  font-size: 23px;
  font-weight: 100;
  margin-right: 25px;
}
.article__subtitle {
  width: 610px;
  font-size: 16px;
  color: rgba(214,214,214,0.15);
}
.article__header-icon {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.article__header-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(214,214,214,0.2);
}


/*main article*/
.main-article {
  width: 50vw;
  height: 160vh;
  display: flex;
  flex-direction: column;
}
.main-article__fav {
  width: 50vw;
  height: 200px;
  background-color: rgba(214,214,214,0.12);
}
.main-article__bar {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  color: rgba(214,214,214,0.2);
  margin-top: 20px;
}
.main-article__bar-left {
  width: 120px;
  display: flex;
  align-items: center;
}
.fa-plus-square {
  margin-left: 9.2px;
}
.main-article__first-column, .main-article__second-column {
  display: flex;
  justify-content: space-between;
  margin-top: 5.8vh;
}
.main-article__gainer, .main-article__losers, .main-article__agenda, .main-article__news {
  width: 23.5vw;
  height: 42vh;
  background-color: rgba(214,214,214,0.12);
}
.fav__icons:hover {
  color: whitesmoke;
} 

/*footer*/
.footer {
  width: 50vw;
  height: 60px;
  margin-top: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__left {
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logoo {
  width: 80px;
}
.footer__left-text {
  color: rgba(214,214,214,0.45);
}
.footer__right {
  color: rgba(214,214,214,0.65);
  display: flex;
  justify-content: space-around;
  width: 250px;
}
.footer__info1:hover, .footer__info2:hover, .footer__info3:hover, .footer__info4:hover {
  color: whitesmoke;
}